In [1]:
#Statistics learning
#installing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.datasets as dt
import statsmodels.api as sm
import datetime as dm
import seaborn as sns
import random as rnd
from statsmodels.sandbox.tools import cross_val
%matplotlib inline

C:\Users\JAINMOD\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [33]:
#Importing HR Analytcs dataset
pay_equity = pd.read_csv('C:/Users/JAINMOD/Desktop/Respiratory/Python Learning/data.csv')
pay_equity.head()

   Emp_ID Division  Site Family  Band  Gender         DOJ          Comp
0       1   PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1       2   PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2       3   PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3       4   PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4       5   PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750

Pay Equity Model 2017

In [34]:
#Selecting random locations to create training and test datasets
pay_equity_model = pay_equity.copy()
pay_equity_model['is_train']=np.random.uniform(0,1, len(pay_equity_model))<= .8
pay_equity_model

,Emp_ID,Division,Site,Family,Band,Gender,DOJ,Comp,is_train
0,1,PHARMA,CADO,Sales,4,Male,10/24/2016,92679.36127,True
1,2,PHARMA,CADO,Sales,3,Male,9/9/2002,149186.59570,True
2,3,PHARMA,CADO,Sales,4,Male,10/9/2007,145547.56730,True
3,4,PHARMA,CADO,Sales,6,Female,1/6/1997,113265.97200,True
4,5,PHARMA,CADO,Sales,4,Male,3/5/2001,142829.44750,True
5,6,PHARMA,CADO,Sales,4,Female,12/15/2008,146712.78210,False
6,7,PHARMA,CADO,Sales,4,Male,11/26/2001,147855.97120,False
7,8,SANDOZ,CABV,Sales,3,Male,4/14/2008,161103.65090,True
8,9,ONCOLOGY,CADO,Sales,5,Female,9/2/2002,105427.81690,True
9,10,SANDOZ,CABV,Sales,3,Male,9/28/2009,199508.53890,True
10,11,PHARMA,CADO,Sales,4,Male,2/17/1997,138643.79640,True
11,12,SANDOZ,CABV,Sales,4,Male,4/28/1997,122071.14480,True
12,13,SANDOZ,CABV,Sales,5,Female,11/1/1984,126535.42240,False
13,14,PHARMA,CADO,Sales,4,Female,12/6/2010,151780.89810,True
14,15,PHARMA,CADO,Sales,3,Male,11/10/2003,154167.85670,True
15,16,SANDOZ,CABV,Sales,4,Female,5/7/2007,145440.00300,True
16,17,ALCON,CAMI,Sales,3,Male,3/5/2001,188132.37870,True
17,18,SANDOZ,CABV,Sales,4,Male,4/6/2010,135842.19210,False
18,19,SANDOZ,CABV,Sales,5,Female,3/9/1998,98882.95974,True
19,20,PHARMA,CADO,Sales,4,Male,7/22/2002,140130.81940,False
20,21,PHARMA,CADO,Sales,4,Female,10/1/2001,131202.12910,True
21,22,ALCON,CAMI,Sales,7,Female,2/16/2015,38069.86311,True
22,23,ALCON,CAMI,Sales,6,Male,3/21/2011,107804.18320,False
23,24,ALCON,CAMI,Sales,6,Male,9/17/2001,63608.45521,False
24,25,SANDOZ,CABV,Sales,4,Male,1/3/2000,125948.43690,True
25,26,ALCON,CAMI,Sales,5,Male,11/1/1995,139331.83900,True
26,27,PHARMA,CADO,Sales,4,Male,1/12/2001,134190.45580,False
27,28,SANDOZ,CABV,Sales,3,Male,5/19/2009,174982.53240,True
28,29,PHARMA,CADO,Sales,4,Female,6/17/2002,133271.56460,True
29,30,ALCON,CAMI,Sales,4,Female,8/29/2005,157186.79060,True
...,...,...,...,...,...,...,...,...,...
418,419,PHARMA,CADO,Sales,6,Female,8/2/2016,65222.28053,True
419,420,PHARMA,CADO,Sales,6,Female,8/1/2016,68221.00607,False
420,421,PHARMA,CADO,Sales,6,Male,8/10/2016,90636.61444,True
421,422,SANDOZ,CABV,Sales,3,Male,7/25/2016,148458.57710,False
422,423,ALCON,CAMI,Sales,7,Female,7/25/2016,36761.34523,True
423,424,PHARMA,CADO,Sales,6,Female,9/12/2016,83866.75163,True
424,425,ALCON,CAMI,Sales,7,Female,9/19/2016,40956.10286,True
425,426,ALCON,CAMI,Sales,6,Female,10/17/2016,56600.94460,True
426,427,ONCOLOGY,CADO,Sales,6,Female,10/11/2016,98208.26149,True
427,428,SANDOZ,CABV,Sales,3,Male,10/11/2016,161931.17920,True
428,429,PHARMA,CADO,Sales,6,Female,11/7/2016,84938.90097,True
429,430,PHARMA,CADO,Sales,6,Female,11/21/2016,85463.67794,True
430,431,ALCON,CAMI,Sales,6,Female,11/14/2016,113951.57060,True
431,432,ALCON,CAMI,Sales,6,Male,11/28/2016,104955.39400,True
432,433,ALCON,CAMI,Sales,6,Male,1/3/2017,119949.02170,True
433,434,ALCON,CAMI,Sales,7,Female,1/3/2017,40932.60364,True
434,435,PHARMA,CADO,Sales,6,Female,1/3/2017,107954.11950,True
435,436,ALCON,CAMI,Sales,6,Female,1/13/2017,108703.80090,True
436,437,PHARMA,CADO,Sales,6,Male,1/16/2017,75717.81993,True
437,438,SANDOZ,CABV,Sales,4,Male,3/27/2017,142439.46320,True
438,439,PHARMA,CADO,Sales,6,Female,3/1/2017,86213.35932,True
439,440,PHARMA,CADO,Sales,6,Male,3/6/2017,100457.30560,True
440,441,PHARMA,CADO,Sales,6,Female,3/27/2017,83964.31517,True
441,442,ONCOLOGY,CADO,Sales,6,Male,3/2/2015,105069.51050,True
442,443,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,96843.84137,True
443,444,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,95693.02047,False
444,445,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,90878.17677,False
445,446,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,104595.47190,False
446,447,ALCON,CAMI,Sales,6,Female,2/11/2013,142421.90570,True
447,448,PHARMA,CADO,Sales,6,Male,1/16/2017,90711.44763,False

In [35]:
# Dividing data based on training & test
pe_train = pay_equity_model.loc[pay_equity_model['is_train']==True,:]
pe_test = pay_equity_model.loc[pay_equity_model['is_train']==False,:]
del pay_equity_model['is_train']
del pe_train['is_train']
del pe_test['is_train']
pe_train
pe_test

     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
6         7    PHARMA  CADO  Sales     4    Male  11/26/2001  147855.97120
12       13    SANDOZ  CABV  Sales     5  Female   11/1/1984  126535.42240
17       18    SANDOZ  CABV  Sales     4    Male    4/6/2010  135842.19210
19       20    PHARMA  CADO  Sales     4    Male   7/22/2002  140130.81940
22       23     ALCON  CAMI  Sales     6    Male   3/21/2011  107804.18320
23       24     ALCON  CAMI  Sales     6    Male   9/17/2001   63608.45521
26       27    PHARMA  CADO  Sales     4    Male   1/12/2001  134190.45580
40       41    SANDOZ  CABV  Sales     5    Male   11/2/2005   95698.59810
43       44    SANDOZ  CABV  Sales     5  Female   4/18/2006   94859.08989
52       53    SANDOZ  CABV  Sales     5    Male    9/5/2006  100084.38410
56       57    SANDOZ  CABV  Sales     4    Male   2/21/2011  146927.13100
62       63     ALCON  CAMI  Sales     6    Male    9/5/1989  150987.25540
64       65     ALCON  CAMI  Sales     6    Male   4/27/1992  150404.91790
78       79    PHARMA  CADO  Sales     6  Female   3/20/2000  101330.80440
84       85    PHARMA  CADO  Sales     6  Female  10/15/2001   90090.56901
87       88     ALCON  CAMI  Sales     6    Male   5/27/2002  140491.04130
89       90     ALCON  CAMI  Sales     5    Male    1/5/2005  152059.31480
94       95    PHARMA  CADO  Sales     6    Male   12/4/2006  100184.49660
101     102    PHARMA  CADO  Sales     6  Female    6/8/2009   86602.08411
104     105    PHARMA  CADO  Sales     6  Female  11/23/2009  100836.88430
111     112    PHARMA  CADO  Sales     6    Male    6/6/2011   97087.65275
123     124     ALCON  CAMI  Sales     7  Female   4/23/2001   38069.66039
128     129     ALCON  CAMI  Sales     5  Female    8/2/2004  106770.53750
133     134     ALCON  CAMI  Sales     6  Female    7/3/2007   82896.85883
140     141    PHARMA  CADO  Sales     6    Male   7/11/2011   97884.41412
144     145     ALCON  CAMI  Sales     5    Male   10/7/2011  123080.29090
157     158    PHARMA  CADO  Sales     6    Male   9/13/1993  121088.38740
167     168    PHARMA  CADO  Sales     6    Male    2/1/1999   98193.41780
183     184    PHARMA  CADO  Sales     4  Female   10/1/2001  121823.22510
..      ...       ...   ...    ...   ...     ...         ...           ...
310     311     ALCON  CAMI  Sales     6    Male    9/2/2014   81319.97901
315     316    PHARMA  CADO  Sales     6  Female   12/8/2014   95148.81176
319     320     ALCON  CAMI  Sales     4    Male   12/1/2014  128759.63490
320     321    SANDOZ  CABV  Sales     5    Male    1/5/2015   89570.59750
325     326    PHARMA  CADO  Sales     6  Female    1/5/2015  103812.68460
341     342    PHARMA  CADO  Sales     6    Male    4/7/2015   95470.03524
346     347     ALCON  CAMI  Sales     6    Male   5/11/2015   78389.20459
348     349    PHARMA  CADO  Sales     6  Female   6/22/2015   82254.59180
350     351  ONCOLOGY  CADO  Sales     6    Male   6/29/2015  110916.44050
357     358    PHARMA  CADO  Sales     6    Male    8/3/2015   86375.20054
359     360    PHARMA  CADO  Sales     6    Male    8/3/2015   96266.27183
363     364    PHARMA  CADO  Sales     6  Female   8/10/2015  108913.47180
364     365    PHARMA  CADO  Sales     6    Male   8/10/2015  105225.63910
365     366    PHARMA  CADO  Sales     6  Female   8/17/2015   67471.29470
373     374    PHARMA  CADO  Sales     6    Male  10/13/2015   94251.74301
374     375     ALCON  CAMI  Sales     5    Male   11/2/2015  101844.20120
391     392    SANDOZ  CABV  Sales     5  Female   3/29/2016   85838.51863
395     396    PHARMA  CADO  Sales     6  Female    4/4/2016   66166.90906
396     397     ALCON  CAMI  Sales     6    Male   4/18/2016   47012.33106
397     398    SANDOZ  CABV  Sales     6    Male    5/9/2016   65896.99378
402     403     ALCON  CAMI  Sales     6    Male   5/30/2016   82285.01387
408     409     ALCON  CAMI  Sales     7  Female   7/11/2016   36761.34523
409     410    PHARMA  CADO  Sales     6  Female   7/18/2016   90636.61444
414     415    PHARMA  CADO  Sales     6    Male    8/2/2016   86813.11942
419     420    PHARMA  CADO  Sales     6  Female    8/1/2016   68221.00607
421     422    SANDOZ  CABV  Sales     3    Male   7/25/2016  148458.57710
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
444     445  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   90878.17677
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
447     448    PHARMA  CADO  Sales     6    Male   1/16/2017   90711.44763

[85 rows x 8 columns]

In [10]:
print(pay_equity_model)
print(pe_train)
print(pe_test)

     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
0         1    PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1         2    PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2         3    PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3         4    PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4         5    PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
6         7    PHARMA  CADO  Sales     4    Male  11/26/2001  147855.97120
7         8    SANDOZ  CABV  Sales     3    Male   4/14/2008  161103.65090
8         9  ONCOLOGY  CADO  Sales     5  Female    9/2/2002  105427.81690
9        10    SANDOZ  CABV  Sales     3    Male   9/28/2009  199508.53890
10       11    PHARMA  CADO  Sales     4    Male   2/17/1997  138643.79640
11       12    SANDOZ  CABV  Sales     4    Male   4/28/1997  122071.14480
12       13    SANDOZ  CABV  Sales     5  Female   11/1/1984  126535.42240
13       14    PHARMA  CADO  Sales     4  Female   12/6/2010  151780.89810
14       15    PHARMA  CADO  Sales     3    Male  11/10/2003  154167.85670
15       16    SANDOZ  CABV  Sales     4  Female    5/7/2007  145440.00300
16       17     ALCON  CAMI  Sales     3    Male    3/5/2001  188132.37870
17       18    SANDOZ  CABV  Sales     4    Male    4/6/2010  135842.19210
18       19    SANDOZ  CABV  Sales     5  Female    3/9/1998   98882.95974
19       20    PHARMA  CADO  Sales     4    Male   7/22/2002  140130.81940
20       21    PHARMA  CADO  Sales     4  Female   10/1/2001  131202.12910
21       22     ALCON  CAMI  Sales     7  Female   2/16/2015   38069.86311
22       23     ALCON  CAMI  Sales     6    Male   3/21/2011  107804.18320
23       24     ALCON  CAMI  Sales     6    Male   9/17/2001   63608.45521
24       25    SANDOZ  CABV  Sales     4    Male    1/3/2000  125948.43690
25       26     ALCON  CAMI  Sales     5    Male   11/1/1995  139331.83900
26       27    PHARMA  CADO  Sales     4    Male   1/12/2001  134190.45580
27       28    SANDOZ  CABV  Sales     3    Male   5/19/2009  174982.53240
28       29    PHARMA  CADO  Sales     4  Female   6/17/2002  133271.56460
29       30     ALCON  CAMI  Sales     4  Female   8/29/2005  157186.79060
..      ...       ...   ...    ...   ...     ...         ...           ...
418     419    PHARMA  CADO  Sales     6  Female    8/2/2016   65222.28053
419     420    PHARMA  CADO  Sales     6  Female    8/1/2016   68221.00607
420     421    PHARMA  CADO  Sales     6    Male   8/10/2016   90636.61444
421     422    SANDOZ  CABV  Sales     3    Male   7/25/2016  148458.57710
422     423     ALCON  CAMI  Sales     7  Female   7/25/2016   36761.34523
423     424    PHARMA  CADO  Sales     6  Female   9/12/2016   83866.75163
424     425     ALCON  CAMI  Sales     7  Female   9/19/2016   40956.10286
425     426     ALCON  CAMI  Sales     6  Female  10/17/2016   56600.94460
426     427  ONCOLOGY  CADO  Sales     6  Female  10/11/2016   98208.26149
427     428    SANDOZ  CABV  Sales     3    Male  10/11/2016  161931.17920
428     429    PHARMA  CADO  Sales     6  Female   11/7/2016   84938.90097
429     430    PHARMA  CADO  Sales     6  Female  11/21/2016   85463.67794
430     431     ALCON  CAMI  Sales     6  Female  11/14/2016  113951.57060
431     432     ALCON  CAMI  Sales     6    Male  11/28/2016  104955.39400
432     433     ALCON  CAMI  Sales     6    Male    1/3/2017  119949.02170
433     434     ALCON  CAMI  Sales     7  Female    1/3/2017   40932.60364
434     435    PHARMA  CADO  Sales     6  Female    1/3/2017  107954.11950
435     436     ALCON  CAMI  Sales     6  Female   1/13/2017  108703.80090
436     437    PHARMA  CADO  Sales     6    Male   1/16/2017   75717.81993
437     438    SANDOZ  CABV  Sales     4    Male   3/27/2017  142439.46320
438     439    PHARMA  CADO  Sales     6  Female    3/1/2017   86213.35932
439     440    PHARMA  CADO  Sales     6    Male    3/6/2017  100457.30560
440     441    PHARMA  CADO  Sales     6  Female   3/27/2017   83964.31517
441     442  ONCOLOGY  CADO  Sales     6    Male    3/2/2015  105069.51050
442     443  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   96843.84137
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
444     445  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   90878.17677
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
446     447     ALCON  CAMI  Sales     6  Female   2/11/2013  142421.90570
447     448    PHARMA  CADO  Sales     6    Male   1/16/2017   90711.44763

[448 rows x 8 columns]
     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
0         1    PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1         2    PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2         3    PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3         4    PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4         5    PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750
6         7    PHARMA  CADO  Sales     4    Male  11/26/2001  147855.97120
7         8    SANDOZ  CABV  Sales     3    Male   4/14/2008  161103.65090
8         9  ONCOLOGY  CADO  Sales     5  Female    9/2/2002  105427.81690
9        10    SANDOZ  CABV  Sales     3    Male   9/28/2009  199508.53890
10       11    PHARMA  CADO  Sales     4    Male   2/17/1997  138643.79640
11       12    SANDOZ  CABV  Sales     4    Male   4/28/1997  122071.14480
12       13    SANDOZ  CABV  Sales     5  Female   11/1/1984  126535.42240
13       14    PHARMA  CADO  Sales     4  Female   12/6/2010  151780.89810
14       15    PHARMA  CADO  Sales     3    Male  11/10/2003  154167.85670
15       16    SANDOZ  CABV  Sales     4  Female    5/7/2007  145440.00300
16       17     ALCON  CAMI  Sales     3    Male    3/5/2001  188132.37870
17       18    SANDOZ  CABV  Sales     4    Male    4/6/2010  135842.19210
18       19    SANDOZ  CABV  Sales     5  Female    3/9/1998   98882.95974
19       20    PHARMA  CADO  Sales     4    Male   7/22/2002  140130.81940
20       21    PHARMA  CADO  Sales     4  Female   10/1/2001  131202.12910
21       22     ALCON  CAMI  Sales     7  Female   2/16/2015   38069.86311
22       23     ALCON  CAMI  Sales     6    Male   3/21/2011  107804.18320
23       24     ALCON  CAMI  Sales     6    Male   9/17/2001   63608.45521
24       25    SANDOZ  CABV  Sales     4    Male    1/3/2000  125948.43690
25       26     ALCON  CAMI  Sales     5    Male   11/1/1995  139331.83900
26       27    PHARMA  CADO  Sales     4    Male   1/12/2001  134190.45580
27       28    SANDOZ  CABV  Sales     3    Male   5/19/2009  174982.53240
28       29    PHARMA  CADO  Sales     4  Female   6/17/2002  133271.56460
29       30     ALCON  CAMI  Sales     4  Female   8/29/2005  157186.79060
31       32    PHARMA  CADO  Sales     4  Female    7/5/2004  128466.19690
..      ...       ...   ...    ...   ...     ...         ...           ...
410     411    PHARMA  CADO  Sales     6    Male    8/2/2016   88724.67201
411     412    PHARMA  CADO  Sales     6    Male    8/2/2016   98283.21463
413     414    PHARMA  CADO  Sales     6    Male    8/2/2016   92165.93448
414     415    PHARMA  CADO  Sales     6    Male    8/2/2016   86813.11942
415     416    PHARMA  CADO  Sales     6    Male    8/1/2016   70755.06410
416     417    PHARMA  CADO  Sales     6    Male    8/8/2016   79166.32431
417     418     ALCON  CAMI  Sales     7  Female   7/18/2016   36761.34523
418     419    PHARMA  CADO  Sales     6  Female    8/2/2016   65222.28053
419     420    PHARMA  CADO  Sales     6  Female    8/1/2016   68221.00607
420     421    PHARMA  CADO  Sales     6    Male   8/10/2016   90636.61444
421     422    SANDOZ  CABV  Sales     3    Male   7/25/2016  148458.57710
422     423     ALCON  CAMI  Sales     7  Female   7/25/2016   36761.34523
424     425     ALCON  CAMI  Sales     7  Female   9/19/2016   40956.10286
425     426     ALCON  CAMI  Sales     6  Female  10/17/2016   56600.94460
426     427  ONCOLOGY  CADO  Sales     6  Female  10/11/2016   98208.26149
427     428    SANDOZ  CABV  Sales     3    Male  10/11/2016  161931.17920
428     429    PHARMA  CADO  Sales     6  Female   11/7/2016   84938.90097
429     430    PHARMA  CADO  Sales     6  Female  11/21/2016   85463.67794
430     431     ALCON  CAMI  Sales     6  Female  11/14/2016  113951.57060
432     433     ALCON  CAMI  Sales     6    Male    1/3/2017  119949.02170
433     434     ALCON  CAMI  Sales     7  Female    1/3/2017   40932.60364
434     435    PHARMA  CADO  Sales     6  Female    1/3/2017  107954.11950
435     436     ALCON  CAMI  Sales     6  Female   1/13/2017  108703.80090
436     437    PHARMA  CADO  Sales     6    Male   1/16/2017   75717.81993
438     439    PHARMA  CADO  Sales     6  Female    3/1/2017   86213.35932
439     440    PHARMA  CADO  Sales     6    Male    3/6/2017  100457.30560
441     442  ONCOLOGY  CADO  Sales     6    Male    3/2/2015  105069.51050
442     443  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   96843.84137
444     445  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   90878.17677
447     448    PHARMA  CADO  Sales     6    Male   1/16/2017   90711.44763

[372 rows x 8 columns]
     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
30       31     ALCON  CAMI  Sales     4    Male    1/7/2008  118795.45690
32       33  ONCOLOGY  CADO  Sales     6    Male   2/20/2006  112990.35910
46       47    SANDOZ  CABV  Sales     5  Female   4/27/1992  112586.56570
58       59    SANDOZ  CABV  Sales     5    Male   3/28/2012   91174.76572
59       60     ALCON  CAMI  Sales     6    Male   2/22/2016   82544.49359
60       61     ALCON  CAMI  Sales     6    Male   6/25/1986   79526.11140
69       70     ALCON  CAMI  Sales     6    Male   5/21/1996   87001.33443
72       73     ALCON  CAMI  Sales     5  Female   7/14/1997  162566.15190
77       78    PHARMA  CADO  Sales     6  Female  10/12/1999   95712.31727
83       84     ALCON  CAMI  Sales     6    Male    9/4/2001   88244.75598
84       85    PHARMA  CADO  Sales     6  Female  10/15/2001   90090.56901
88       89    PHARMA  CADO  Sales     6  Female   7/26/2004   95215.27851
90       91     ALCON  CAMI  Sales     6    Male   2/10/2005  129969.66040
107     108     ALCON  CAMI  Sales     7  Female   2/16/2010   44660.09026
110     111    PHARMA  CADO  Sales     6    Male    6/4/2012   91611.06530
111     112    PHARMA  CADO  Sales     6    Male    6/6/2011   97087.65275
120     121     ALCON  CAMI  Sales     7  Female    3/9/2009   37172.65162
122     123     ALCON  CAMI  Sales     6  Female   8/31/2011   90488.68731
128     129     ALCON  CAMI  Sales     5  Female    8/2/2004  106770.53750
131     132     ALCON  CAMI  Sales     6  Female  10/16/2006   62845.84961
156     157  ONCOLOGY  CADO  Sales     6    Male  11/16/1992  106628.45790
161     162    PHARMA  CADO  Sales     6    Male    1/6/1997  113391.43860
163     164    PHARMA  CADO  Sales     6  Female   11/3/1997   99156.30857
164     165  ONCOLOGY  CADO  Sales     6  Female    1/5/1998  113518.38970
182     183    PHARMA  CADO  Sales     5    Male   4/30/2001  107284.49060
184     185  ONCOLOGY  CADO  Sales     6    Male   6/26/2006  115517.84990
188     189  ONCOLOGY  CADO  Sales     6  Female   6/17/2002  106463.75290
191     192    PHARMA  CADO  Sales     6    Male    9/2/2002   97540.97009
204     205  ONCOLOGY  CADO  Sales     4  Female    1/3/2005  124648.42940
..      ...       ...   ...    ...   ...     ...         ...           ...
292     293  ONCOLOGY  CADO  Sales     6  Female    5/5/2014  107317.68500
296     297    PHARMA  CADO  Sales     6    Male    6/6/2014   94478.82150
302     303     ALCON  CAMI  Sales     5    Male   7/14/2014  129296.00420
311     312    PHARMA  CADO  Sales     6    Male   9/15/2014  110038.33870
312     313    PHARMA  CADO  Sales     6  Female   9/23/2014   97652.52268
313     314    PHARMA  CADO  Sales     6  Female   9/22/2014   94310.60799
324     325     ALCON  CAMI  Sales     6    Male   7/27/2015   82242.91176
335     336    SANDOZ  CABV  Sales     5  Female   1/19/2015   78200.88462
337     338  ONCOLOGY  CADO  Sales     6  Female    2/9/2015  106130.83440
338     339     ALCON  CAMI  Sales     6    Male   2/23/2015   84145.49816
341     342    PHARMA  CADO  Sales     6    Male    4/7/2015   95470.03524
346     347     ALCON  CAMI  Sales     6    Male   5/11/2015   78389.20459
347     348    PHARMA  CADO  Sales     4    Male   6/15/2015  127554.37440
355     356  ONCOLOGY  CADO  Sales     6  Female    8/3/2015  100211.00530
373     374    PHARMA  CADO  Sales     6    Male  10/13/2015   94251.74301
374     375     ALCON  CAMI  Sales     5    Male   11/2/2015  101844.20120
375     376     ALCON  CAMI  Sales     7  Female  11/16/2015   36564.51008
386     387     ALCON  CAMI  Sales     7  Female   1/25/2016   37478.74953
391     392    SANDOZ  CABV  Sales     5  Female   3/29/2016   85838.51863
397     398    SANDOZ  CABV  Sales     6    Male    5/9/2016   65896.99378
407     408     ALCON  CAMI  Sales     5    Male   7/25/2016  134915.66080
409     410    PHARMA  CADO  Sales     6  Female   7/18/2016   90636.61444
412     413    PHARMA  CADO  Sales     6    Male    8/8/2016   98283.21463
423     424    PHARMA  CADO  Sales     6  Female   9/12/2016   83866.75163
431     432     ALCON  CAMI  Sales     6    Male  11/28/2016  104955.39400
437     438    SANDOZ  CABV  Sales     4    Male   3/27/2017  142439.46320
440     441    PHARMA  CADO  Sales     6  Female   3/27/2017   83964.31517
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
446     447     ALCON  CAMI  Sales     6  Female   2/11/2013  142421.90570

[76 rows x 8 columns]

In [36]:
pay_equity_model.info()
pe_train.info()
pe_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 8 columns):
Emp_ID      448 non-null int64
Division    448 non-null object
Site        448 non-null object
Family      448 non-null object
Band        448 non-null int64
Gender      448 non-null object
DOJ         448 non-null object
Comp        448 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 19.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 363 entries, 0 to 446
Data columns (total 8 columns):
Emp_ID      363 non-null int64
Division    363 non-null object
Site        363 non-null object
Family      363 non-null object
Band        363 non-null int64
Gender      363 non-null object
DOJ         363 non-null object
Comp        363 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 18.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 5 to 447
Data columns (total 8 columns):
Emp_ID      85 non-null int64
Division    85 non-null object
Site        85 non-null object
Family      85 non-null object
Band        85 non-null int64
Gender      85 non-null object
DOJ         85 non-null object
Comp        85 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 4.3+ KB

In [37]:
pay_equity_model.describe()

           Emp_ID        Band           Comp
count  448.000000  448.000000     448.000000
mean   224.500000    5.665179   98695.343824
std    129.470717    0.845804   28632.846447
min      1.000000    1.000000   36564.510080
25%    112.750000    5.000000   84485.103828
50%    224.500000    6.000000   96662.294775
75%    336.250000    6.000000  112340.407850
max    448.000000    7.000000  244075.326500

In [40]:
#Creating dummy variables for the categorical variables
pay_equity_model1 = pay_equity_model.copy()
pay_equity_model1['Male'] = np.where(pay_equity_model1['Gender'] == "Male",1,0)
pay_equity_model1['today'] = pd.to_datetime(dm.date.today())
pay_equity_model1['Tenure'] = pay_equity_model1['today'] - pd.to_datetime(pay_equity_model1['DOJ'])
pay_equity_model1['Tenure_yr'] = (pay_equity_model1['Tenure'])/np.timedelta64(365, 'D')
#pay_equity_model1.drop(pay_equity_model1['Tenure'], axis = 1)
pay_equity_model1

,Emp_ID,Division,Site,Family,Band,Gender,DOJ,Comp,Male,today,Tenure,Tenure_yr
0,1,PHARMA,CADO,Sales,4,Male,10/24/2016,92679.36127,1,2017-07-28,277 days,0.758904
1,2,PHARMA,CADO,Sales,3,Male,9/9/2002,149186.59570,1,2017-07-28,5436 days,14.893151
2,3,PHARMA,CADO,Sales,4,Male,10/9/2007,145547.56730,1,2017-07-28,3580 days,9.808219
3,4,PHARMA,CADO,Sales,6,Female,1/6/1997,113265.97200,0,2017-07-28,7508 days,20.569863
4,5,PHARMA,CADO,Sales,4,Male,3/5/2001,142829.44750,1,2017-07-28,5989 days,16.408219
5,6,PHARMA,CADO,Sales,4,Female,12/15/2008,146712.78210,0,2017-07-28,3147 days,8.621918
6,7,PHARMA,CADO,Sales,4,Male,11/26/2001,147855.97120,1,2017-07-28,5723 days,15.679452
7,8,SANDOZ,CABV,Sales,3,Male,4/14/2008,161103.65090,1,2017-07-28,3392 days,9.293151
8,9,ONCOLOGY,CADO,Sales,5,Female,9/2/2002,105427.81690,0,2017-07-28,5443 days,14.912329
9,10,SANDOZ,CABV,Sales,3,Male,9/28/2009,199508.53890,1,2017-07-28,2860 days,7.835616
10,11,PHARMA,CADO,Sales,4,Male,2/17/1997,138643.79640,1,2017-07-28,7466 days,20.454795
11,12,SANDOZ,CABV,Sales,4,Male,4/28/1997,122071.14480,1,2017-07-28,7396 days,20.263014
12,13,SANDOZ,CABV,Sales,5,Female,11/1/1984,126535.42240,0,2017-07-28,11957 days,32.758904
13,14,PHARMA,CADO,Sales,4,Female,12/6/2010,151780.89810,0,2017-07-28,2426 days,6.646575
14,15,PHARMA,CADO,Sales,3,Male,11/10/2003,154167.85670,1,2017-07-28,5009 days,13.723288
15,16,SANDOZ,CABV,Sales,4,Female,5/7/2007,145440.00300,0,2017-07-28,3735 days,10.232877
16,17,ALCON,CAMI,Sales,3,Male,3/5/2001,188132.37870,1,2017-07-28,5989 days,16.408219
17,18,SANDOZ,CABV,Sales,4,Male,4/6/2010,135842.19210,1,2017-07-28,2670 days,7.315068
18,19,SANDOZ,CABV,Sales,5,Female,3/9/1998,98882.95974,0,2017-07-28,7081 days,19.400000
19,20,PHARMA,CADO,Sales,4,Male,7/22/2002,140130.81940,1,2017-07-28,5485 days,15.027397
20,21,PHARMA,CADO,Sales,4,Female,10/1/2001,131202.12910,0,2017-07-28,5779 days,15.832877
21,22,ALCON,CAMI,Sales,7,Female,2/16/2015,38069.86311,0,2017-07-28,893 days,2.446575
22,23,ALCON,CAMI,Sales,6,Male,3/21/2011,107804.18320,1,2017-07-28,2321 days,6.358904
23,24,ALCON,CAMI,Sales,6,Male,9/17/2001,63608.45521,1,2017-07-28,5793 days,15.871233
24,25,SANDOZ,CABV,Sales,4,Male,1/3/2000,125948.43690,1,2017-07-28,6416 days,17.578082
25,26,ALCON,CAMI,Sales,5,Male,11/1/1995,139331.83900,1,2017-07-28,7940 days,21.753425
26,27,PHARMA,CADO,Sales,4,Male,1/12/2001,134190.45580,1,2017-07-28,6041 days,16.550685
27,28,SANDOZ,CABV,Sales,3,Male,5/19/2009,174982.53240,1,2017-07-28,2992 days,8.197260
28,29,PHARMA,CADO,Sales,4,Female,6/17/2002,133271.56460,0,2017-07-28,5520 days,15.123288
29,30,ALCON,CAMI,Sales,4,Female,8/29/2005,157186.79060,0,2017-07-28,4351 days,11.920548
...,...,...,...,...,...,...,...,...,...,...,...,...
418,419,PHARMA,CADO,Sales,6,Female,8/2/2016,65222.28053,0,2017-07-28,360 days,0.986301
419,420,PHARMA,CADO,Sales,6,Female,8/1/2016,68221.00607,0,2017-07-28,361 days,0.989041
420,421,PHARMA,CADO,Sales,6,Male,8/10/2016,90636.61444,1,2017-07-28,352 days,0.964384
421,422,SANDOZ,CABV,Sales,3,Male,7/25/2016,148458.57710,1,2017-07-28,368 days,1.008219
422,423,ALCON,CAMI,Sales,7,Female,7/25/2016,36761.34523,0,2017-07-28,368 days,1.008219
423,424,PHARMA,CADO,Sales,6,Female,9/12/2016,83866.75163,0,2017-07-28,319 days,0.873973
424,425,ALCON,CAMI,Sales,7,Female,9/19/2016,40956.10286,0,2017-07-28,312 days,0.854795
425,426,ALCON,CAMI,Sales,6,Female,10/17/2016,56600.94460,0,2017-07-28,284 days,0.778082
426,427,ONCOLOGY,CADO,Sales,6,Female,10/11/2016,98208.26149,0,2017-07-28,290 days,0.794521
427,428,SANDOZ,CABV,Sales,3,Male,10/11/2016,161931.17920,1,2017-07-28,290 days,0.794521
428,429,PHARMA,CADO,Sales,6,Female,11/7/2016,84938.90097,0,2017-07-28,263 days,0.720548
429,430,PHARMA,CADO,Sales,6,Female,11/21/2016,85463.67794,0,2017-07-28,249 days,0.682192
430,431,ALCON,CAMI,Sales,6,Female,11/14/2016,113951.57060,0,2017-07-28,256 days,0.701370
431,432,ALCON,CAMI,Sales,6,Male,11/28/2016,104955.39400,1,2017-07-28,242 days,0.663014
432,433,ALCON,CAMI,Sales,6,Male,1/3/2017,119949.02170,1,2017-07-28,206 days,0.564384
433,434,ALCON,CAMI,Sales,7,Female,1/3/2017,40932.60364,0,2017-07-28,206 days,0.564384
434,435,PHARMA,CADO,Sales,6,Female,1/3/2017,107954.11950,0,2017-07-28,206 days,0.564384
435,436,ALCON,CAMI,Sales,6,Female,1/13/2017,108703.80090,0,2017-07-28,196 days,0.536986
436,437,PHARMA,CADO,Sales,6,Male,1/16/2017,75717.81993,1,2017-07-28,193 days,0.528767
437,438,SANDOZ,CABV,Sales,4,Male,3/27/2017,142439.46320,1,2017-07-28,123 days,0.336986
438,439,PHARMA,CADO,Sales,6,Female,3/1/2017,86213.35932,0,2017-07-28,149 days,0.408219
439,440,PHARMA,CADO,Sales,6,Male,3/6/2017,100457.30560,1,2017-07-28,144 days,0.394521
440,441,PHARMA,CADO,Sales,6,Female,3/27/2017,83964.31517,0,2017-07-28,123 days,0.336986
441,442,ONCOLOGY,CADO,Sales,6,Male,3/2/2015,105069.51050,1,2017-07-28,879 days,2.408219
442,443,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,96843.84137,0,2017-07-28,879 days,2.408219
443,444,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,95693.02047,0,2017-07-28,879 days,2.408219
444,445,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,90878.17677,0,2017-07-28,879 days,2.408219
445,446,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,104595.47190,0,2017-07-28,879 days,2.408219
446,447,ALCON,CAMI,Sales,6,Female,2/11/2013,142421.90570,0,2017-07-28,1628 days,4.460274
447,448,PHARMA,CADO,Sales,6,Male,1/16/2017,90711.44763,1,2017-07-28,193 days,0.528767

In [43]:
#Creating dummy variables for the categorical variables
pay_equity_model2 = pay_equity_model1.drop(['Gender','today','Tenure'], axis =1)
if pay_equity_model2['Band'] == 1:
    pay_equity_model2['Band1'] = 1 
    pay_equity_model2['Band2'] = 0
    pay_equity_model2['Band3'] = 0
    pay_equity_model2['Band4'] = 0
    pay_equity_model2['Band5'] = 0 
    pay_equity_model2['Band6'] = 0 
    pay_equity_model2['Band7'] = 0 
    pay_equity_model2['Band8'] = 0
elif pay_equity_model2['Band'] == 2:
    pay_equity_model2['Band1'] = 0 
    pay_equity_model2['Band2'] = 1
    pay_equity_model2['Band3'] = 0
    pay_equity_model2['Band4'] = 0
    pay_equity_model2['Band5'] = 0 
    pay_equity_model2['Band6'] = 0 
    pay_equity_model2['Band7'] = 0 
    pay_equity_model2['Band8'] = 0
pay_equity_model2

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().