In [1]:
#Statistics learning
#installing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.datasets as dt
import statsmodels.api as sm
import datetime as dm
import seaborn as sns
import random as rnd
from statsmodels.sandbox.tools import cross_val
%matplotlib inline

C:\Users\JAINMOD\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [6]:
#Importing HR Analytcs dataset
pay_equity = pd.read_csv('C:/Users/JAINMOD/Desktop/Respiratory/Python Learning/data.csv')
pay_equity.head()

   Emp_ID Division  Site Family  Band  Gender         DOJ          Comp
0       1   PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1       2   PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2       3   PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3       4   PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4       5   PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750

Pay Equity Model 2017

In [5]:
#Selecting random locations to create training and test datasets
pay_equity_model = pay_equity.copy()
pay_equity_model['is_train']=np.random.uniform(0,1, len(pay_equity_model))<= .8
pay_equity_model

,Emp_ID,Division,Site,Family,Band,Gender,DOJ,Comp,is_train
0,1,PHARMA,CADO,Sales,4,Male,10/24/2016,92679.36127,True
1,2,PHARMA,CADO,Sales,3,Male,9/9/2002,149186.59570,True
2,3,PHARMA,CADO,Sales,4,Male,10/9/2007,145547.56730,True
3,4,PHARMA,CADO,Sales,6,Female,1/6/1997,113265.97200,True
4,5,PHARMA,CADO,Sales,4,Male,3/5/2001,142829.44750,True
5,6,PHARMA,CADO,Sales,4,Female,12/15/2008,146712.78210,False
6,7,PHARMA,CADO,Sales,4,Male,11/26/2001,147855.97120,True
7,8,SANDOZ,CABV,Sales,3,Male,4/14/2008,161103.65090,True
8,9,ONCOLOGY,CADO,Sales,5,Female,9/2/2002,105427.81690,True
9,10,SANDOZ,CABV,Sales,3,Male,9/28/2009,199508.53890,True
10,11,PHARMA,CADO,Sales,4,Male,2/17/1997,138643.79640,True
11,12,SANDOZ,CABV,Sales,4,Male,4/28/1997,122071.14480,True
12,13,SANDOZ,CABV,Sales,5,Female,11/1/1984,126535.42240,True
13,14,PHARMA,CADO,Sales,4,Female,12/6/2010,151780.89810,True
14,15,PHARMA,CADO,Sales,3,Male,11/10/2003,154167.85670,True
15,16,SANDOZ,CABV,Sales,4,Female,5/7/2007,145440.00300,True
16,17,ALCON,CAMI,Sales,3,Male,3/5/2001,188132.37870,True
17,18,SANDOZ,CABV,Sales,4,Male,4/6/2010,135842.19210,True
18,19,SANDOZ,CABV,Sales,5,Female,3/9/1998,98882.95974,True
19,20,PHARMA,CADO,Sales,4,Male,7/22/2002,140130.81940,True
20,21,PHARMA,CADO,Sales,4,Female,10/1/2001,131202.12910,True
21,22,ALCON,CAMI,Sales,7,Female,2/16/2015,38069.86311,True
22,23,ALCON,CAMI,Sales,6,Male,3/21/2011,107804.18320,True
23,24,ALCON,CAMI,Sales,6,Male,9/17/2001,63608.45521,True
24,25,SANDOZ,CABV,Sales,4,Male,1/3/2000,125948.43690,True
25,26,ALCON,CAMI,Sales,5,Male,11/1/1995,139331.83900,True
26,27,PHARMA,CADO,Sales,4,Male,1/12/2001,134190.45580,True
27,28,SANDOZ,CABV,Sales,3,Male,5/19/2009,174982.53240,True
28,29,PHARMA,CADO,Sales,4,Female,6/17/2002,133271.56460,True
29,30,ALCON,CAMI,Sales,4,Female,8/29/2005,157186.79060,True
...,...,...,...,...,...,...,...,...,...
418,419,PHARMA,CADO,Sales,6,Female,8/2/2016,65222.28053,True
419,420,PHARMA,CADO,Sales,6,Female,8/1/2016,68221.00607,True
420,421,PHARMA,CADO,Sales,6,Male,8/10/2016,90636.61444,True
421,422,SANDOZ,CABV,Sales,3,Male,7/25/2016,148458.57710,True
422,423,ALCON,CAMI,Sales,7,Female,7/25/2016,36761.34523,True
423,424,PHARMA,CADO,Sales,6,Female,9/12/2016,83866.75163,False
424,425,ALCON,CAMI,Sales,7,Female,9/19/2016,40956.10286,True
425,426,ALCON,CAMI,Sales,6,Female,10/17/2016,56600.94460,True
426,427,ONCOLOGY,CADO,Sales,6,Female,10/11/2016,98208.26149,True
427,428,SANDOZ,CABV,Sales,3,Male,10/11/2016,161931.17920,True
428,429,PHARMA,CADO,Sales,6,Female,11/7/2016,84938.90097,True
429,430,PHARMA,CADO,Sales,6,Female,11/21/2016,85463.67794,True
430,431,ALCON,CAMI,Sales,6,Female,11/14/2016,113951.57060,True
431,432,ALCON,CAMI,Sales,6,Male,11/28/2016,104955.39400,False
432,433,ALCON,CAMI,Sales,6,Male,1/3/2017,119949.02170,True
433,434,ALCON,CAMI,Sales,7,Female,1/3/2017,40932.60364,True
434,435,PHARMA,CADO,Sales,6,Female,1/3/2017,107954.11950,True
435,436,ALCON,CAMI,Sales,6,Female,1/13/2017,108703.80090,True
436,437,PHARMA,CADO,Sales,6,Male,1/16/2017,75717.81993,True
437,438,SANDOZ,CABV,Sales,4,Male,3/27/2017,142439.46320,False
438,439,PHARMA,CADO,Sales,6,Female,3/1/2017,86213.35932,True
439,440,PHARMA,CADO,Sales,6,Male,3/6/2017,100457.30560,True
440,441,PHARMA,CADO,Sales,6,Female,3/27/2017,83964.31517,False
441,442,ONCOLOGY,CADO,Sales,6,Male,3/2/2015,105069.51050,True
442,443,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,96843.84137,True
443,444,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,95693.02047,False
444,445,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,90878.17677,True
445,446,ONCOLOGY,CADO,Sales,6,Female,3/2/2015,104595.47190,False
446,447,ALCON,CAMI,Sales,6,Female,2/11/2013,142421.90570,False
447,448,PHARMA,CADO,Sales,6,Male,1/16/2017,90711.44763,True

In [9]:
# Dividing data based on training & test
pe_train = pay_equity_model.loc[pay_equity_model['is_train']==True,:]
pe_test = pay_equity_model.loc[pay_equity_model['is_train']==False,:]
del pay_equity_model['is_train']
del pe_train['is_train']
del pe_test['is_train']
pe_train
pe_test

     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
30       31     ALCON  CAMI  Sales     4    Male    1/7/2008  118795.45690
32       33  ONCOLOGY  CADO  Sales     6    Male   2/20/2006  112990.35910
46       47    SANDOZ  CABV  Sales     5  Female   4/27/1992  112586.56570
58       59    SANDOZ  CABV  Sales     5    Male   3/28/2012   91174.76572
59       60     ALCON  CAMI  Sales     6    Male   2/22/2016   82544.49359
60       61     ALCON  CAMI  Sales     6    Male   6/25/1986   79526.11140
69       70     ALCON  CAMI  Sales     6    Male   5/21/1996   87001.33443
72       73     ALCON  CAMI  Sales     5  Female   7/14/1997  162566.15190
77       78    PHARMA  CADO  Sales     6  Female  10/12/1999   95712.31727
83       84     ALCON  CAMI  Sales     6    Male    9/4/2001   88244.75598
84       85    PHARMA  CADO  Sales     6  Female  10/15/2001   90090.56901
88       89    PHARMA  CADO  Sales     6  Female   7/26/2004   95215.27851
90       91     ALCON  CAMI  Sales     6    Male   2/10/2005  129969.66040
107     108     ALCON  CAMI  Sales     7  Female   2/16/2010   44660.09026
110     111    PHARMA  CADO  Sales     6    Male    6/4/2012   91611.06530
111     112    PHARMA  CADO  Sales     6    Male    6/6/2011   97087.65275
120     121     ALCON  CAMI  Sales     7  Female    3/9/2009   37172.65162
122     123     ALCON  CAMI  Sales     6  Female   8/31/2011   90488.68731
128     129     ALCON  CAMI  Sales     5  Female    8/2/2004  106770.53750
131     132     ALCON  CAMI  Sales     6  Female  10/16/2006   62845.84961
156     157  ONCOLOGY  CADO  Sales     6    Male  11/16/1992  106628.45790
161     162    PHARMA  CADO  Sales     6    Male    1/6/1997  113391.43860
163     164    PHARMA  CADO  Sales     6  Female   11/3/1997   99156.30857
164     165  ONCOLOGY  CADO  Sales     6  Female    1/5/1998  113518.38970
182     183    PHARMA  CADO  Sales     5    Male   4/30/2001  107284.49060
184     185  ONCOLOGY  CADO  Sales     6    Male   6/26/2006  115517.84990
188     189  ONCOLOGY  CADO  Sales     6  Female   6/17/2002  106463.75290
191     192    PHARMA  CADO  Sales     6    Male    9/2/2002   97540.97009
204     205  ONCOLOGY  CADO  Sales     4  Female    1/3/2005  124648.42940
..      ...       ...   ...    ...   ...     ...         ...           ...
292     293  ONCOLOGY  CADO  Sales     6  Female    5/5/2014  107317.68500
296     297    PHARMA  CADO  Sales     6    Male    6/6/2014   94478.82150
302     303     ALCON  CAMI  Sales     5    Male   7/14/2014  129296.00420
311     312    PHARMA  CADO  Sales     6    Male   9/15/2014  110038.33870
312     313    PHARMA  CADO  Sales     6  Female   9/23/2014   97652.52268
313     314    PHARMA  CADO  Sales     6  Female   9/22/2014   94310.60799
324     325     ALCON  CAMI  Sales     6    Male   7/27/2015   82242.91176
335     336    SANDOZ  CABV  Sales     5  Female   1/19/2015   78200.88462
337     338  ONCOLOGY  CADO  Sales     6  Female    2/9/2015  106130.83440
338     339     ALCON  CAMI  Sales     6    Male   2/23/2015   84145.49816
341     342    PHARMA  CADO  Sales     6    Male    4/7/2015   95470.03524
346     347     ALCON  CAMI  Sales     6    Male   5/11/2015   78389.20459
347     348    PHARMA  CADO  Sales     4    Male   6/15/2015  127554.37440
355     356  ONCOLOGY  CADO  Sales     6  Female    8/3/2015  100211.00530
373     374    PHARMA  CADO  Sales     6    Male  10/13/2015   94251.74301
374     375     ALCON  CAMI  Sales     5    Male   11/2/2015  101844.20120
375     376     ALCON  CAMI  Sales     7  Female  11/16/2015   36564.51008
386     387     ALCON  CAMI  Sales     7  Female   1/25/2016   37478.74953
391     392    SANDOZ  CABV  Sales     5  Female   3/29/2016   85838.51863
397     398    SANDOZ  CABV  Sales     6    Male    5/9/2016   65896.99378
407     408     ALCON  CAMI  Sales     5    Male   7/25/2016  134915.66080
409     410    PHARMA  CADO  Sales     6  Female   7/18/2016   90636.61444
412     413    PHARMA  CADO  Sales     6    Male    8/8/2016   98283.21463
423     424    PHARMA  CADO  Sales     6  Female   9/12/2016   83866.75163
431     432     ALCON  CAMI  Sales     6    Male  11/28/2016  104955.39400
437     438    SANDOZ  CABV  Sales     4    Male   3/27/2017  142439.46320
440     441    PHARMA  CADO  Sales     6  Female   3/27/2017   83964.31517
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
446     447     ALCON  CAMI  Sales     6  Female   2/11/2013  142421.90570

[76 rows x 8 columns]

In [10]:
print(pay_equity_model)
print(pe_train)
print(pe_test)

     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
0         1    PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1         2    PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2         3    PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3         4    PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4         5    PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
6         7    PHARMA  CADO  Sales     4    Male  11/26/2001  147855.97120
7         8    SANDOZ  CABV  Sales     3    Male   4/14/2008  161103.65090
8         9  ONCOLOGY  CADO  Sales     5  Female    9/2/2002  105427.81690
9        10    SANDOZ  CABV  Sales     3    Male   9/28/2009  199508.53890
10       11    PHARMA  CADO  Sales     4    Male   2/17/1997  138643.79640
11       12    SANDOZ  CABV  Sales     4    Male   4/28/1997  122071.14480
12       13    SANDOZ  CABV  Sales     5  Female   11/1/1984  126535.42240
13       14    PHARMA  CADO  Sales     4  Female   12/6/2010  151780.89810
14       15    PHARMA  CADO  Sales     3    Male  11/10/2003  154167.85670
15       16    SANDOZ  CABV  Sales     4  Female    5/7/2007  145440.00300
16       17     ALCON  CAMI  Sales     3    Male    3/5/2001  188132.37870
17       18    SANDOZ  CABV  Sales     4    Male    4/6/2010  135842.19210
18       19    SANDOZ  CABV  Sales     5  Female    3/9/1998   98882.95974
19       20    PHARMA  CADO  Sales     4    Male   7/22/2002  140130.81940
20       21    PHARMA  CADO  Sales     4  Female   10/1/2001  131202.12910
21       22     ALCON  CAMI  Sales     7  Female   2/16/2015   38069.86311
22       23     ALCON  CAMI  Sales     6    Male   3/21/2011  107804.18320
23       24     ALCON  CAMI  Sales     6    Male   9/17/2001   63608.45521
24       25    SANDOZ  CABV  Sales     4    Male    1/3/2000  125948.43690
25       26     ALCON  CAMI  Sales     5    Male   11/1/1995  139331.83900
26       27    PHARMA  CADO  Sales     4    Male   1/12/2001  134190.45580
27       28    SANDOZ  CABV  Sales     3    Male   5/19/2009  174982.53240
28       29    PHARMA  CADO  Sales     4  Female   6/17/2002  133271.56460
29       30     ALCON  CAMI  Sales     4  Female   8/29/2005  157186.79060
..      ...       ...   ...    ...   ...     ...         ...           ...
418     419    PHARMA  CADO  Sales     6  Female    8/2/2016   65222.28053
419     420    PHARMA  CADO  Sales     6  Female    8/1/2016   68221.00607
420     421    PHARMA  CADO  Sales     6    Male   8/10/2016   90636.61444
421     422    SANDOZ  CABV  Sales     3    Male   7/25/2016  148458.57710
422     423     ALCON  CAMI  Sales     7  Female   7/25/2016   36761.34523
423     424    PHARMA  CADO  Sales     6  Female   9/12/2016   83866.75163
424     425     ALCON  CAMI  Sales     7  Female   9/19/2016   40956.10286
425     426     ALCON  CAMI  Sales     6  Female  10/17/2016   56600.94460
426     427  ONCOLOGY  CADO  Sales     6  Female  10/11/2016   98208.26149
427     428    SANDOZ  CABV  Sales     3    Male  10/11/2016  161931.17920
428     429    PHARMA  CADO  Sales     6  Female   11/7/2016   84938.90097
429     430    PHARMA  CADO  Sales     6  Female  11/21/2016   85463.67794
430     431     ALCON  CAMI  Sales     6  Female  11/14/2016  113951.57060
431     432     ALCON  CAMI  Sales     6    Male  11/28/2016  104955.39400
432     433     ALCON  CAMI  Sales     6    Male    1/3/2017  119949.02170
433     434     ALCON  CAMI  Sales     7  Female    1/3/2017   40932.60364
434     435    PHARMA  CADO  Sales     6  Female    1/3/2017  107954.11950
435     436     ALCON  CAMI  Sales     6  Female   1/13/2017  108703.80090
436     437    PHARMA  CADO  Sales     6    Male   1/16/2017   75717.81993
437     438    SANDOZ  CABV  Sales     4    Male   3/27/2017  142439.46320
438     439    PHARMA  CADO  Sales     6  Female    3/1/2017   86213.35932
439     440    PHARMA  CADO  Sales     6    Male    3/6/2017  100457.30560
440     441    PHARMA  CADO  Sales     6  Female   3/27/2017   83964.31517
441     442  ONCOLOGY  CADO  Sales     6    Male    3/2/2015  105069.51050
442     443  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   96843.84137
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
444     445  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   90878.17677
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
446     447     ALCON  CAMI  Sales     6  Female   2/11/2013  142421.90570
447     448    PHARMA  CADO  Sales     6    Male   1/16/2017   90711.44763

[448 rows x 8 columns]
     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
0         1    PHARMA  CADO  Sales     4    Male  10/24/2016   92679.36127
1         2    PHARMA  CADO  Sales     3    Male    9/9/2002  149186.59570
2         3    PHARMA  CADO  Sales     4    Male   10/9/2007  145547.56730
3         4    PHARMA  CADO  Sales     6  Female    1/6/1997  113265.97200
4         5    PHARMA  CADO  Sales     4    Male    3/5/2001  142829.44750
6         7    PHARMA  CADO  Sales     4    Male  11/26/2001  147855.97120
7         8    SANDOZ  CABV  Sales     3    Male   4/14/2008  161103.65090
8         9  ONCOLOGY  CADO  Sales     5  Female    9/2/2002  105427.81690
9        10    SANDOZ  CABV  Sales     3    Male   9/28/2009  199508.53890
10       11    PHARMA  CADO  Sales     4    Male   2/17/1997  138643.79640
11       12    SANDOZ  CABV  Sales     4    Male   4/28/1997  122071.14480
12       13    SANDOZ  CABV  Sales     5  Female   11/1/1984  126535.42240
13       14    PHARMA  CADO  Sales     4  Female   12/6/2010  151780.89810
14       15    PHARMA  CADO  Sales     3    Male  11/10/2003  154167.85670
15       16    SANDOZ  CABV  Sales     4  Female    5/7/2007  145440.00300
16       17     ALCON  CAMI  Sales     3    Male    3/5/2001  188132.37870
17       18    SANDOZ  CABV  Sales     4    Male    4/6/2010  135842.19210
18       19    SANDOZ  CABV  Sales     5  Female    3/9/1998   98882.95974
19       20    PHARMA  CADO  Sales     4    Male   7/22/2002  140130.81940
20       21    PHARMA  CADO  Sales     4  Female   10/1/2001  131202.12910
21       22     ALCON  CAMI  Sales     7  Female   2/16/2015   38069.86311
22       23     ALCON  CAMI  Sales     6    Male   3/21/2011  107804.18320
23       24     ALCON  CAMI  Sales     6    Male   9/17/2001   63608.45521
24       25    SANDOZ  CABV  Sales     4    Male    1/3/2000  125948.43690
25       26     ALCON  CAMI  Sales     5    Male   11/1/1995  139331.83900
26       27    PHARMA  CADO  Sales     4    Male   1/12/2001  134190.45580
27       28    SANDOZ  CABV  Sales     3    Male   5/19/2009  174982.53240
28       29    PHARMA  CADO  Sales     4  Female   6/17/2002  133271.56460
29       30     ALCON  CAMI  Sales     4  Female   8/29/2005  157186.79060
31       32    PHARMA  CADO  Sales     4  Female    7/5/2004  128466.19690
..      ...       ...   ...    ...   ...     ...         ...           ...
410     411    PHARMA  CADO  Sales     6    Male    8/2/2016   88724.67201
411     412    PHARMA  CADO  Sales     6    Male    8/2/2016   98283.21463
413     414    PHARMA  CADO  Sales     6    Male    8/2/2016   92165.93448
414     415    PHARMA  CADO  Sales     6    Male    8/2/2016   86813.11942
415     416    PHARMA  CADO  Sales     6    Male    8/1/2016   70755.06410
416     417    PHARMA  CADO  Sales     6    Male    8/8/2016   79166.32431
417     418     ALCON  CAMI  Sales     7  Female   7/18/2016   36761.34523
418     419    PHARMA  CADO  Sales     6  Female    8/2/2016   65222.28053
419     420    PHARMA  CADO  Sales     6  Female    8/1/2016   68221.00607
420     421    PHARMA  CADO  Sales     6    Male   8/10/2016   90636.61444
421     422    SANDOZ  CABV  Sales     3    Male   7/25/2016  148458.57710
422     423     ALCON  CAMI  Sales     7  Female   7/25/2016   36761.34523
424     425     ALCON  CAMI  Sales     7  Female   9/19/2016   40956.10286
425     426     ALCON  CAMI  Sales     6  Female  10/17/2016   56600.94460
426     427  ONCOLOGY  CADO  Sales     6  Female  10/11/2016   98208.26149
427     428    SANDOZ  CABV  Sales     3    Male  10/11/2016  161931.17920
428     429    PHARMA  CADO  Sales     6  Female   11/7/2016   84938.90097
429     430    PHARMA  CADO  Sales     6  Female  11/21/2016   85463.67794
430     431     ALCON  CAMI  Sales     6  Female  11/14/2016  113951.57060
432     433     ALCON  CAMI  Sales     6    Male    1/3/2017  119949.02170
433     434     ALCON  CAMI  Sales     7  Female    1/3/2017   40932.60364
434     435    PHARMA  CADO  Sales     6  Female    1/3/2017  107954.11950
435     436     ALCON  CAMI  Sales     6  Female   1/13/2017  108703.80090
436     437    PHARMA  CADO  Sales     6    Male   1/16/2017   75717.81993
438     439    PHARMA  CADO  Sales     6  Female    3/1/2017   86213.35932
439     440    PHARMA  CADO  Sales     6    Male    3/6/2017  100457.30560
441     442  ONCOLOGY  CADO  Sales     6    Male    3/2/2015  105069.51050
442     443  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   96843.84137
444     445  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   90878.17677
447     448    PHARMA  CADO  Sales     6    Male   1/16/2017   90711.44763

[372 rows x 8 columns]
     Emp_ID  Division  Site Family  Band  Gender         DOJ          Comp
5         6    PHARMA  CADO  Sales     4  Female  12/15/2008  146712.78210
30       31     ALCON  CAMI  Sales     4    Male    1/7/2008  118795.45690
32       33  ONCOLOGY  CADO  Sales     6    Male   2/20/2006  112990.35910
46       47    SANDOZ  CABV  Sales     5  Female   4/27/1992  112586.56570
58       59    SANDOZ  CABV  Sales     5    Male   3/28/2012   91174.76572
59       60     ALCON  CAMI  Sales     6    Male   2/22/2016   82544.49359
60       61     ALCON  CAMI  Sales     6    Male   6/25/1986   79526.11140
69       70     ALCON  CAMI  Sales     6    Male   5/21/1996   87001.33443
72       73     ALCON  CAMI  Sales     5  Female   7/14/1997  162566.15190
77       78    PHARMA  CADO  Sales     6  Female  10/12/1999   95712.31727
83       84     ALCON  CAMI  Sales     6    Male    9/4/2001   88244.75598
84       85    PHARMA  CADO  Sales     6  Female  10/15/2001   90090.56901
88       89    PHARMA  CADO  Sales     6  Female   7/26/2004   95215.27851
90       91     ALCON  CAMI  Sales     6    Male   2/10/2005  129969.66040
107     108     ALCON  CAMI  Sales     7  Female   2/16/2010   44660.09026
110     111    PHARMA  CADO  Sales     6    Male    6/4/2012   91611.06530
111     112    PHARMA  CADO  Sales     6    Male    6/6/2011   97087.65275
120     121     ALCON  CAMI  Sales     7  Female    3/9/2009   37172.65162
122     123     ALCON  CAMI  Sales     6  Female   8/31/2011   90488.68731
128     129     ALCON  CAMI  Sales     5  Female    8/2/2004  106770.53750
131     132     ALCON  CAMI  Sales     6  Female  10/16/2006   62845.84961
156     157  ONCOLOGY  CADO  Sales     6    Male  11/16/1992  106628.45790
161     162    PHARMA  CADO  Sales     6    Male    1/6/1997  113391.43860
163     164    PHARMA  CADO  Sales     6  Female   11/3/1997   99156.30857
164     165  ONCOLOGY  CADO  Sales     6  Female    1/5/1998  113518.38970
182     183    PHARMA  CADO  Sales     5    Male   4/30/2001  107284.49060
184     185  ONCOLOGY  CADO  Sales     6    Male   6/26/2006  115517.84990
188     189  ONCOLOGY  CADO  Sales     6  Female   6/17/2002  106463.75290
191     192    PHARMA  CADO  Sales     6    Male    9/2/2002   97540.97009
204     205  ONCOLOGY  CADO  Sales     4  Female    1/3/2005  124648.42940
..      ...       ...   ...    ...   ...     ...         ...           ...
292     293  ONCOLOGY  CADO  Sales     6  Female    5/5/2014  107317.68500
296     297    PHARMA  CADO  Sales     6    Male    6/6/2014   94478.82150
302     303     ALCON  CAMI  Sales     5    Male   7/14/2014  129296.00420
311     312    PHARMA  CADO  Sales     6    Male   9/15/2014  110038.33870
312     313    PHARMA  CADO  Sales     6  Female   9/23/2014   97652.52268
313     314    PHARMA  CADO  Sales     6  Female   9/22/2014   94310.60799
324     325     ALCON  CAMI  Sales     6    Male   7/27/2015   82242.91176
335     336    SANDOZ  CABV  Sales     5  Female   1/19/2015   78200.88462
337     338  ONCOLOGY  CADO  Sales     6  Female    2/9/2015  106130.83440
338     339     ALCON  CAMI  Sales     6    Male   2/23/2015   84145.49816
341     342    PHARMA  CADO  Sales     6    Male    4/7/2015   95470.03524
346     347     ALCON  CAMI  Sales     6    Male   5/11/2015   78389.20459
347     348    PHARMA  CADO  Sales     4    Male   6/15/2015  127554.37440
355     356  ONCOLOGY  CADO  Sales     6  Female    8/3/2015  100211.00530
373     374    PHARMA  CADO  Sales     6    Male  10/13/2015   94251.74301
374     375     ALCON  CAMI  Sales     5    Male   11/2/2015  101844.20120
375     376     ALCON  CAMI  Sales     7  Female  11/16/2015   36564.51008
386     387     ALCON  CAMI  Sales     7  Female   1/25/2016   37478.74953
391     392    SANDOZ  CABV  Sales     5  Female   3/29/2016   85838.51863
397     398    SANDOZ  CABV  Sales     6    Male    5/9/2016   65896.99378
407     408     ALCON  CAMI  Sales     5    Male   7/25/2016  134915.66080
409     410    PHARMA  CADO  Sales     6  Female   7/18/2016   90636.61444
412     413    PHARMA  CADO  Sales     6    Male    8/8/2016   98283.21463
423     424    PHARMA  CADO  Sales     6  Female   9/12/2016   83866.75163
431     432     ALCON  CAMI  Sales     6    Male  11/28/2016  104955.39400
437     438    SANDOZ  CABV  Sales     4    Male   3/27/2017  142439.46320
440     441    PHARMA  CADO  Sales     6  Female   3/27/2017   83964.31517
443     444  ONCOLOGY  CADO  Sales     6  Female    3/2/2015   95693.02047
445     446  ONCOLOGY  CADO  Sales     6  Female    3/2/2015  104595.47190
446     447     ALCON  CAMI  Sales     6  Female   2/11/2013  142421.90570

[76 rows x 8 columns]

In [15]:
pay_equity_model.info()
pe_train.info()
pe_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 8 columns):
Emp_ID      448 non-null int64
Division    448 non-null object
Site        448 non-null object
Family      448 non-null object
Band        448 non-null int64
Gender      448 non-null object
DOJ         448 non-null object
Comp        448 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 19.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 372 entries, 0 to 447
Data columns (total 8 columns):
Emp_ID      372 non-null int64
Division    372 non-null object
Site        372 non-null object
Family      372 non-null object
Band        372 non-null int64
Gender      372 non-null object
DOJ         372 non-null object
Comp        372 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 18.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 76 entries, 5 to 446
Data columns (total 8 columns):
Emp_ID      76 non-null int64
Division    76 non-null object
Site        76 non-null object
Family      76 non-null object
Band        76 non-null int64
Gender      76 non-null object
DOJ         76 non-null object
Comp        76 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 3.9+ KB

In [18]:
model = sm.OLS(pe_train.loc[:,'Comp'],pe_train.drop('Comp', axis =1, inplace = False)).fit()

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).